/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-color: #ddd;
	min-width: 800px;
	max-width: 800px;
	padding:0;
	margin:0;
}


/*                                                          EN TETE                                                          */

.sheet-entete-colonne {
  display: flex;
  justify-content: space-between;
}

.sheet-entete-souscolonne {
  display: flex;
  flex-direction: column;
  width:33%;
}
.sheet-entete-leftrow{
  display: flex;
  align-items: baseline;
}
.sheet-entete-middlerow{
  display: flex;
  justify-content: center;
  align-items: baseline;
  width:50%;
}
.sheet-entete-rightrow{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.sheet-entete-mainrow{
  display:flex;
  align-items: baseline;
}
input.sheet-entete{
	width: 75%;
}
input.sheet-entete-middle {
  width: 30%;
}
label.sheet-entete{
  display: flex;
  width:25%;
}
label.sheet-entete-middle{
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
label.sheet-slash{
  display: flex;
  width: 1%;
  margin-left: 4%;
}


/*                                                          TABS SETUP                                                          */
/*Style des Tabs buttons*/
.sheet-tabs{
    display: flex;
  justify-content: center;
}
button.sheet-tab{
	width: 20%; 
}
/*Configure the tab buttons*/
.sheet-attributes,
.sheet-inventaire,
.sheet-competences {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.sheet-tabstoggle[value="inventaire"] ~ div.sheet-inventaire,
.sheet-tabstoggle[value="competences"] ~ div.sheet-competences {
	display: block;
}
/*                                                          TAB: STATS                                                          */
.sheet-title{
    display: flex;
    justify-content: center;
}

.sheet-att-colonne {
  display: flex;
  justify-content: space-between;
}
.sheet-att-souscolonne{
  display: flex;
  flex-direction: column;
  width: 33%;
}
.sheet-att-row{
  display: flex;
    align-items: baseline;
}
.sheet-att-name{
    display: flex;
    justify-content: flex-end;
    width: 34%;
}
.sheet-att-value{
  width: 15%
}
.sheet-att-check{
    width: 10%;
}

/*                                                          Roll Button                                                          */
button[type=roll]{
    padding:0;
    display: flex;
    align-self: flex-start;
}
button[type=roll].sheet-att-roll-button::before {
    content: '0';
  
}
/*                                                          TAB: Inventaire                                                          */
.sheet-inv-row{
    display: flex;
    justify-content: space-around;
}

.sheet-inv-main{
  display: flex;
  flex-direction: column;
  width: 75%;
}
.sheet-inv-second{
  display: flex;
  flex-direction: column;
  width: 25%;
}
.sheet-inv-boursebox{
  height: 25%
}
.sheet-inv-slot2title,
.sheet-inv-boursetitle,
.sheet-inv-slot1title{
  display: flex;
  justify-content: center;

}
.sheet-inv-bourse{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
}
.sheet-inv-type{
  display: flex;
  align-items: baseline; 
}
input.sheet-inv-bourse-input{
  width: 80%;
}
.sheet-inv-slot1{
  width: 98%;
  height: 200%;
}
.sheet-inv-slot2{
  width: 100%;
}




/*                                                          DEBUG                                                          */
/*Debug Info Box*/
div.sheet-debug-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    flex-direction: column;
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-debug{
      display: none;
}

.sheet-debug{
    display: flex;
    justify-content: flex-end;
    flex-direction: column
}
.sheet-debug-value{
    width: 15%
}
.sheet-debug-code{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}


/*                                                          ROLL TEMPLATE                                                          */
/*Roll Template Stat*/

.sheet-rolltemplate-stat div.sheet-template-boite {
  display: flex;
  flex-direction: column;
	border: 2px solid #000 !important;
  border-radius: 3px 3px 3px 3px;
  color: white
}

.sheet-rolltemplate-stat .sheet-template-titre {
  display: flex;
  justify-content: center;
	background-color: #1e1f26;
	padding: 2px;
	border-bottom: 2px solid black;
	line-height: 1.6em;
  font-size: 1.2em;
}

.sheet-rolltemplate-stat .sheet-template-comparatif {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background-color: #333642;
}
.sheet-rolltemplate-stat .sheet-template-stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid;
  border-left-color: black;
  width: 50%;
  line-height: 2.4em;
	font-size: 1.2em;
}
.sheet-rolltemplate-stat .sheet-template-jet{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid;
  border-right-color: black;
  width: 50%;
  line-height: 2.4em;
  font-size: 1.2em;
}
.sheet-rolltemplate-stat .inlinerollresult {
  background-color: #3C3A2900;
  border: 2px solid #FFF0;
  padding: 0 3px 0 3px;
  font-weight: bold;
  cursor: help;
  font-size: 1.1em;
}
.sheet-rolltemplate-stat .inlinerollresult.fullcrit,
.sheet-rolltemplate-stat .inlinerollresult.fullfail {
  border: 2px solid rgba(63, 179, 21, 0);
}
.sheet-rolltemplate-stat .sheet-template-success {
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  background-color: rgb(143, 204, 121);
  line-height: 1.6em;
	font-size: 1.2em;
}
.sheet-rolltemplate-stat .sheet-template-fail {
  display: flex;
  justify-content: center;
  border-top: 2px solid black;
  background-color: rgb(211, 87, 87);
  line-height: 1.6em;
	font-size: 1.2em;
}

/*Roll Template Abitlies*/

.sheet-rolltemplate-abilitie div.sheet-template-boite {
  display: flex;
  flex-direction: column;
	border: 2px solid #000 !important;
  border-radius: 3px 3px 3px 3px;
  color: white;
  border-bottom: 0px;
}

.sheet-rolltemplate-abilitie .sheet-template-titre {
  display: flex;
  justify-content: center;
	background-color: #3c3f4b;
	padding: 2px;
  border-bottom: 2px solid black;
	line-height: 1.6em;
  font-size: 1.1em;
}

.sheet-rolltemplate-abilitie .sheet-template-jet{
  display: flex;
  flex-direction: column;
  background-color: #454958;
  align-items: center;
  border-bottom: 2px solid black;
  line-height: 2.4em;
  font-size: 1.2em;
}

.sheet-rolltemplate-abilitie .sheet-template-description {
  display: flex;
  background-color: #505566;
  line-height: 1.6em;
  font-size: 0.8em;
  padding: 3px;
}

.sheet-rolltemplate-abilitie .inlinerollresult {
  background-color: #3C3A2900;
  border: 2px solid #FFF0;
  padding: 0 3px 0 3px;
  font-weight: bold;
  cursor: help;
  font-size: 1.1em;
}
.sheet-rolltemplate-abilitie .inlinerollresult.fullcrit,
.sheet-rolltemplate-abilitie .inlinerollresult.fullfail {
  border: 2px solid rgba(63, 179, 21, 0);
}

